[Unit]
Description=Diaspora Appserver
After=network.target

[Service]
EnvironmentFile=/etc/diaspora.conf
ExecStart=/home/diaspora/.rvm/bin/systemd_pumactl -F config/puma.rb start
ExecReload=/home/diaspora/.rvm/bin/systemd_pumactl -F config/puma.rb restart
ExecStop=/home/diaspora/.rvm/bin/systemd_pumactl -F config/puma.rb stop
TimeoutStopSec=5
Restart=on-failure
User=diaspora
RuntimeDirectory=diaspora
RuntimeDirectoryMode=0755
WorkingDirectory=/home/diaspora

[Install]
WantedBy=multi-user.target
